.Bord {
  text-align: center;
  font-family: 'Proxima Nova';
}

.Bord-header {
  margin: auto 0;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #707070;
}
.header {
  font-weight: lighter;
}
.row {
  display: inline-block;
}

.Bord-link {
  background-color: #707070;
  cursor: pointer;
  height: 76px;
  width: 304px;
  border-radius: 26px;
  transition: ease 0.5s;
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.Bord-link:hover {
  background-color: rgba(255, 0, 0, 0);
  height: 76px;
  width: 304px;
  border: 2px solid;
  border-radius: 26px;
  color: #707070;
  font-size: 24px;
  font-weight: bold;
}

.createAccount {
  margin: 15px 0px 15px 0px;
  color: #707070;
  font-size: 24px;
  font-style: italic;
  font-weight: lighter;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 26%;
}
